[Unit]
Description=distbuild agent
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecReload=/bin/kill -SIGHUP $MAINPID
ExecStart=/usr/local/bin/distbuild-agent
ExecStop=/bin/kill -SIGTERM $MAINPID
PIDFile=/run/distbuild.agent.pid
Restart=always
TimeoutStartSec=0
TimeoutStopSec=30
RestartSec=5

[Install]
WantedBy=multi-user.target
